*.app
*xcuserstate
JRHMemorialWall/build/
*.DS_STORE
JRHMemorialWall/JRHMemorialWall.xcodeproj/xcuserdata/genevieve.xcuserdatad/xcschemes/xcschememanagement.plist

JRHMemorialWall/.DS_Store

Lumigeek_LEDTest/.DS_Store

Lumigeek_LEDTest/bin/Lumigeek_LEDTestDebug.app/Contents/MacOS/Lumigeek_LEDTestDebug

Lumigeek_LEDTest/Lumigeek_LEDTest.xcodeproj/project.xcworkspace/xcuserdata/genevieve.xcuserdatad/UserInterfaceState.xcuserstate

JRHMemorialWall/.DS_Store

Lumigeek_LEDTest/.DS_Store

Lumigeek_LEDTest/bin/Lumigeek_LEDTestDebug.app/Contents/MacOS/Lumigeek_LEDTestDebug

Lumigeek_LEDTest/Lumigeek_LEDTest.xcodeproj/project.xcworkspace/xcuserdata/genevieve.xcuserdatad/UserInterfaceState.xcuserstate

Lumigeek_LEDTest/.DS_Store

JRHMemorialWall/.DS_Store

.DS_Store
